SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/umusare
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change
SPRING_JPA_HIBERNATE_DDL_AUTO=update
APP_ADMIN_PHONE=change
APP_ADMIN_PASSWORD=change
APP_JWT_SECRET=change_me_use_a_long_random_string
APP_JWT_EXPIRATION_MS=86400000
SPRING_RABBITMQ_HOST=change
SPRING_RABBITMQ_PORT=5671
SPRING_RABBITMQ_USERNAME=change
SPRING_RABBITMQ_PASSWORD=change
SPRING_RABBITMQ_VIRTUAL_HOST=change

APP_OAUTH2_GOOGLE_CLIENT_ID=change_me
