target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

src/main/resources/application-local.properties
.env

frontend/

.idea/
*.iws
*.iml
*.ipr
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

HELP.md
